.header {
    position: sticky;
    top: 80px;
    left: 0;
    height: 5rem;
    background-color: #126172;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 10;
    font-size: 1.1rem;
}

.nyh1 {
    font-size: 4vw;
    color: rgb(255, 255, 255);
}

.main-image:before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 40%;
    width: 1200px;
    height: 80px;
    background-color: #def2f5;
    right: -5px;
    top: 40px;
}

.main-image {
    width: 100vw;
    height: 5rem;
    z-index: 0;
    overflow: hidden;
    position: relative;
    height: 70px;
}

.main-image:after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 1295px;
    height: 208px;
    background-color: #def2f5;
    left: -410px;
    top: 46px;
}

.main-image img {
    width: 100vw;
    height: 100%;
    object-fit: cover;
}
