.header {
    position: sticky;
    top: 80px;
    left: 0;
    height: 5rem;
    background-color: #bde0fe;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    box-shadow: 0 2px 8px #0e0c0d00;
    z-index: 10;
    font-size: 1.1rem;
}

.nyh1 {
    font-size: 4vw;
    color: rgb(255, 255, 255);
}

.main-image {
    width: 100vw;
    height: 5rem;
    z-index: 0;
    overflow: hidden;
    position: relative;
    height: 70px;
    background-color: #bde0fe;
    --mask: radial-gradient(
                120.75px at 50% calc(100% - 162px),
                rgb(233, 233, 233) 99%,
                rgba(251, 239, 239, 0) 101%
            )
            calc(50% - 108px) 0/216px 100%,
        radial-gradient(
                120.75px at 50% calc(100% + 108px),
                rgba(255, 253, 253, 0) 99%,
                rgb(255, 255, 255) 101%
            )
            50% calc(100% - 54px) / 216px 100% repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
}

.main-image img {
    width: 100vw;
    height: 100%;
    object-fit: cover;
}
