* {
    font-family: cursive;
}

.header {
    width: 100vw;
    height: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #bde0fe;
    position: sticky;
    top: 0;
    z-index: 999;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0);
}

.logo {
    font-size: 2rem;
    color: white;
}

.nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav li {
    margin-left: 1.5rem;
    font-size: 1.5rem;
    padding: 20px;
}

.nav a {
    font-size: 1.5rem;
    text-decoration: none;
    color: #ffffff;
}

.nav a:hover,
.nav a:active,
.nav a.active {
    color: #ffafcc;
}

.navBtn {
    cursor: pointer;
    font: inherit;
    border: none;
    background-color: #ffffff60;
    color: white;
    padding: 0.1rem 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    font-weight: bold;
}

.navBtn:hover,
.navBtn:active {
    background-color: #39b5c5;
}

.login {
    display: flex;
}

.mail {
    padding-top: 15px;
}
