* {
    font-family: cursive;
}

.header {
    width: 100vw;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #39b5c5;
    position: sticky;
    top: 0;
    z-index: 999;
}

.logo {
    font-size: 2rem;
    color: white;
}

.nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav li {
    margin-left: 1.5rem;
    font-size: 1.5rem;
}

.nav a {
    font-size: 1.5rem;
    text-decoration: none;
    color: #ffffff;
}

.nav a:hover,
.nav a:active,
.nav a.active {
    color: #f0c2af;
}
